/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

* {
    box-sizing: border-box;
  }
  
a {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
  }
ul, li {
    list-style: none;
    margin: 0 auto;
    padding: 0; 
  }
body {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
}  
.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
  }
.header {
    background: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    & .container {
        max-width: 90%;
    }
    &__content {
        padding: 50px 0;
        min-height: 737px;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-menu li {
            display: inline-block;
            margin-left: 20px;
        }
        &-menu a{
            color: #ffffff;
            font-size: 16px;
            padding: 8px 20px;
            margin-top: 5px;
            border: 1px solid transparent;
            &:hover{
                background-color: rgba(255, 255, 255, 0.507);
                border-radius: 100px;
                transition: all 0.5s;
                border-color: #fff;
            }
        }
    }
    & #menu-checkbox{
        display: none;
    }
}

.about {
    margin-top: -500px;
    &__content {
        display: inline-block;
        color: #fff;
        max-width: 600px;
        margin-left: 28%;
        padding: auto;
        text-align: center;
        &-title {
            font-family: 'Source Sans Pro';
            font-size: 35px;
            font-weight: 300;
            line-height: 70px;
            text-transform: uppercase;
            letter-spacing: 7px;
            margin-bottom: 30px;
        }
        &-descr{
            font-family: 'Open Sans';
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.8px;
        }
        &-btn a{
            width: 36px;
            height: 36px;
            background-color: #19bd9a;
            border-radius: 100px;
            position: relative;
            margin-top: 150px;
            &:before{
                content: "\e900";
                font-family: 'icomoon';
                position: absolute;
                top: 33%;
                left: 31%;
                width: 12px;
                height: 7px;
                color: #fff;
            }
        }
    }
}

.bouncy__content {
    padding-top: 200px;
    margin-bottom: 50px;
    &-inner {
        display: flex;
        justify-content: space-evenly;
    }
    &-left {
        max-width: 466px;
        &-title{
            padding-top: 35px;
            color: #333b46;
            font-family: 'Source Sans Pro';
            font-size: 20px;
            font-weight: 300;
            line-height: 12px;
            text-transform: uppercase;
            letter-spacing: 4px;
            padding-bottom: 50px;
        }
        &-descr{
            color: #81868e;
            line-height: 25px;
            letter-spacing: 0.7px;
            padding-bottom: 30px;
        }
    }
}
.default-btn a{
    color: #333b46;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 50px;
    border: 1px solid black;
    border-radius: 100px;
}

.details{
    background-color: #f3f3f3;
    &__content{
        padding: 75px 215px 100px;
        &-top {
            text-align: center;
            padding: 0 220px;
            &-title{
                color: #333b46;
                font-family: 'Source Sans Pro';
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            &-descr{
                margin-top: 40px;
                color: #81868e;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.7px;
                }
            &-btn {
                display: flex;
                justify-content: center;
                margin-top: 60px;
                & .icon1, .icon2, .icon3{
                    width: 53px;
                    height: 53px;
                    background-color: #81868e;
                    border-radius: 53px;
                    position: relative;
                    &:hover{
                        background-color: #19bd9a;
                    }
                }
                & .icon2, .icon3 {
                    margin-left: 30px;
                }
                & .icon1:before{
                    content: "\e04a";
                    font-family: 'icomoon';
                    position: absolute;
                    top: 22%;
                    left: 27%;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 35px;
                }
                & .icon2:before{
                    content: "\e901";
                    font-family: 'icomoon';
                    position: absolute;
                    top: 14%;
                    left: 25%;
                    color: #fff;
                    font-size: 25px;
                    font-weight: 300;
                    line-height: 40px;
                }
                & .icon3:before{
                    content: "\e030";
                    font-family: 'icomoon';
                    position: absolute;
                    top: 25%;
                    left: 33%;
                    color: #fff;
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 40x;
                }
            }   
        }
        &-bottom {
            display: flex;
            justify-content: space-evenly;
            margin-top: 40px;
            &-left{
                width: 35%;
                &-descr{
                    color: #81868e;
                    font-family: 'Open Sans';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                }
                & a{
                    font-weight: 700;
                    letter-spacing: 0.8px;
                    color: #19bd9a;
                }
                & .bold{
                    font-weight: 700;
                    letter-spacing: 0.8px;
                    color: #636971;
                }
            }
            &-right{
                width: 53%;
                &-descr{
                    color: #81868e;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                }
                & a{
                    font-weight: 700;
                    letter-spacing: 0.7px;
                    color: #19bd9a;
                }
                & .bold{
                    color: #636971;
                    font-weight: 700;
                    letter-spacing: 0.7px;
                }
            }   
        }
    }
    &-ideas h2{
        margin: 75px 0 0 35px;
        color: #464646;
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.8px;
    }
}
.featured {
    & .container{
        padding: 0;
    }
    &__content-top {
        margin: 75px 125px 0;
        text-align: center;
        padding: 0 220px;
        &-title{
            color: #333b46;
            font-family: 'Source Sans Pro';
            font-size: 20px;
            font-weight: 300;
            line-height: 12px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        &-descr{
            padding: 0 20px;
            margin-top: 40px;
            color: #81868e;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.7px;
        }
    }
    &__content-middle{
        display: block;
        font-size: 0;
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        &-img1 img{
            width: 100%;
            height: auto;
            position: relative;
        }
        &-img2 img{
            width: 100%;
            height: auto; 
        }
        &-img3 img{
            width: 100%;
            height: auto;
        }    
    }
    &__content-bottom {
        background: url(../img/featured-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0 15px;
        &-inner{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 45px 0;
            &-descr{
                color: #ffffff;
                font-family: 'Open Sans';
                font-size: 20px;
                font-weight: 400;
                line-height: 25px;
            }
            & .default-btn a{
                border: 1px solid #fff;
                color: #fff;
            }
        }
    }
}
.services {
    background-color: #f3f3f3;
    &__content{
        padding: 75px 150px 80px;
        &-top{
            text-align: center;
            padding: 0 25px;
            &-title{
                color: #333b46;
                font-family: 'Source Sans Pro';
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            &-descr{
                margin-top: 40px;
                color: #81868e;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.7px;
            }
        }
        &-bottom{
            margin-top: 40px;
            display: flex;
            justify-content: space-around;
            &-btn {
                width: 7%;
                display: flex;
                flex-direction: column;
                & .icon1-btn, .icon2-btn, .icon3-btn, .icon4-btn{
                    width: 53px;
                    height: 53px;
                    background-color: #81868e;
                    border-radius: 53px;
                    position: relative;
                    &:hover{
                        background-color: #19bd9a;
                    }
                }
                & .icon2-btn, .icon3-btn, .icon4-btn {
                    margin-top: 15px;
                }
                & .icon1-btn:before{
                    content: "\e033";
                    font-family: 'icomoon';
                    position: absolute;
                    top: 17%;
                    left: 33%;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 40px;
                }
                & .icon2-btn:before{
                    content: "\e034";
                    font-family: 'icomoon';
                    position: absolute;
                    top: 14%;
                    left: 25%;
                    color: #fff;
                    font-size: 25px;
                    font-weight: 300;
                    line-height: 40px;
                }
                & .icon3-btn:before{
                    content: "\e035";
                    font-family: 'icomoon';
                    position: absolute;
                    top: 25%;
                    left: 27%;
                    color: #fff;
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 40x;
                }
                & .icon4-btn:before{
                    content: "\e036";
                    font-family: 'icomoon';
                    position: absolute;
                    top: 25%;
                    left: 33%;
                    color: #fff;
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 40x;
                }
            }
            &-text{
                width: 40%;
                &-title{
                    margin-top: 25px;
                    color: #464646;
                    font-family: 'Open Sans';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0.8px;
                }  
                &-descr{
                    margin-top: 25px;
                    color: #81868e;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                    & a{
                    font-weight: 700;
                    letter-spacing: 0.7px;
                    color: #19bd9a;
                    }
                    & .bold{
                    color: #636971;
                    font-weight: 700;
                    letter-spacing: 0.7px;
                    }   
                }
                &-info{
                    margin-top: 30px;
                    color: #81868e;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                    & a{
                        font-weight: 700;
                        letter-spacing: 0.7px;
                        color: #19bd9a;
                    }
                }  
            }
            &-diag{
                margin-top: 35px;
                width: 40%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                & .diag-2, .diag-3 {
                    margin-left: 30px;
                }
                & .diag-1-img{
                    position: relative;
                    &:after{
                        content: "80%";
                        position: absolute;
                        top: 40%;
                        left: 33%;
                        color: #81868e;
                        font-family: 'Open Sans';
                        font-size: 25px;
                        font-weight: 400;
                        line-height: 25px;
                    }
                }
                & .diag-2-img{
                    position: relative;
                    &:after{
                        content: "75%";
                        position: absolute;
                        top: 40%;
                        left: 33%;
                        color: #81868e;
                        font-family: 'Open Sans';
                        font-size: 25px;
                        font-weight: 400;
                        line-height: 25px;
                    }
                }
                & .diag-3-img{
                    position: relative;
                    &:after{
                        content: "60%";
                        position: absolute;
                        top: 40%;
                        left: 33%;
                        color: #81868e;
                        font-family: 'Open Sans';
                        font-size: 25px;
                        font-weight: 400;
                        line-height: 25px;
                    }
                }
                & .diag-1-title, .diag-2-title, .diag-3-title {
                    margin-top: 25px;
                    color: #81868e;
                    font-family: 'Roboto';
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 25px;
                    letter-spacing: 0.8px;
                }
            }     
        }    
    }
}
.impressed {
    background: url(../img/impressed.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 400px;
    &__content{
        display: flex;
        justify-content: space-between;
        padding: 80px 100px 80px;
        &-left {
            width: 60%;
            &-title{
                color: #f3f3f3;
                font-family: 'Source Sans Pro';
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px; 
            }
            &-descr{
                margin-top: 50px;
                color: #b2b3b3;
                font-family: 'Open Sans';
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.8px;
            }
            &-name{
                margin-top: 30px;
                text-transform: uppercase;
                line-height: 25px;
                letter-spacing: 0.7px;
                color: #b2b3b3;
                font-family: 'Open Sans';
                font-size: 14px;
                & h2{
                    font-weight: 700;
                }
                & span{
                    font-weight: 300;
                    & a{
                        color: #19bd9a;
                    }
                }    
            }
        }
        &-right{
            margin-left: 15px;
            margin-top: -105px;
        }
    }
}

.portfolio {
    background-color: #f3f3f3;
    &__content{
        padding: 80px 50px 100px;
        &-top{
            text-align: center;
            padding: 0 25px;
            &-title{
                color: #333b46;
                font-family: 'Source Sans Pro';
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            &-descr{
                margin-top: 40px;
                color: #81868e;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.7px;
            }
        }
        &-btn ul{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            padding: 0 100px;
            & li a{
                color: #464646;
                font-family: 'Open Sans';
                font-size: 16px;
                font-weight: 400;
                line-height: 12px;
                border-bottom: 2px solid transparent;
                padding: 15px 30px;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.335);
                    border-radius: 100px;
                    transition: all 0.5s;
                    border-color: green;
                }
            }
        }
        &-slider-gallery{
            margin-top: 50px;
            padding: 0 20px;
            & img{
                margin: 5px;
                width: 330px;
                height: 300px; 
                object-fit: cover;
            }
        }
        &-bottom{
            background: url(../img/portfolio_fon.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 55px 175px;
            text-align: center;
            margin-top: 70px;
            & h2{
                color: #ffffff;
                font-family: "Open Sans";
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                & span{
                    font-family: "Open Sans";
                    font-weight: 700;
                    letter-spacing: 0.8px; 
                }
            }
            .default-btn a{
                color: #fff;
                font-size: 14px;
                line-height: 12px;
                padding: 10px 50px;
                border: 1px solid #fff;
                border-radius: 100px;
            }
        }
    }
}

.slick-dots {
    bottom: -20px;
    & li button:before {
        font-size: 40px;
        color: #19bd9a;
        opacity: 0.3;
        line-height: 40px;
    }
    & li.slick-active button:before {
        color: #19bd9a;
        opacity: 1;
    }
}
.slick-prev:before, .slick-prev:after, .slick-next:before {
    content: '';
}

.team {
    &__content{
        padding: 80px 50px 100px;
        &-top{
            text-align: center;
            padding: 0 25px;
            &-title{
                color: #333b46;
                font-family: 'Source Sans Pro';
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            &-descr{
                margin-top: 40px;
                color: #81868e;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.7px;
            }
        }
        &-slider {
            width: 100%;
        }
        &-item{
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            padding: 0 50px;
            margin-bottom: 20px;
            &-left img{
              width: 364px;
              height: auto;
            }
            &-right{
                text-align: center;
                width: 100%;
                padding: 30px 50px 0;
                &-title{
                    margin-top: 10px;
                    & h2{
                        color: #464646;
                        font-family: "Open Sans";
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 25px;
                        letter-spacing: 0.8px;
                    }
                    & span{
                        margin-top: 15px;
                        color: #81868e;
                        font-family: "Source Sans Pro";
                        font-size: 14px;
                        font-weight: 300;
                        font-style: italic;
                        line-height: 25px;
                        text-transform: uppercase;
                        letter-spacing: 1.4px;
                    }
                }
                &-descr{
                    margin: 30px 0 50px;
                    color: #81868e;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0.7px;
                }
                &-diagramm{
                    margin: 2% 5% 0 5%;
                    & .proc{
                        display: flex;
                        justify-content: space-between;
                        color: #81868e;
                        font-family: "Source Sans Pro";
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 25px;
                        text-transform: uppercase;
                        letter-spacing: 1.6px;
                    }
                    & .gradient{
                        max-width: 545px;
                        padding: 1rem;
                        position: relative;
                        background: linear-gradient(to right, #19bd9a 80%, rgb(177, 175, 175) 20%);
                        padding: 3px;
                    }
                    & .gradient-1{
                        max-width: 545px;
                        padding: 1rem;
                        position: relative;
                        background: linear-gradient(to right, #19bd9a 65%, rgb(177, 175, 175) 35%);
                        padding: 3px;
                    }
                    & .gradient-2{
                        max-width: 545px;
                        padding: 1rem;
                        position: relative;
                        background: linear-gradient(to right, #19bd9a 75%, rgb(177, 175, 175) 25%);
                        padding: 3px;
                    }
                }
            }
        }
    }
}
.slick-initialized .slick-slide {
    display: flex;
    justify-content: space-between;
    & img {
        display: inline-block;
    }
}

.contact{
    background: url(../img/contact-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 201px;
    width: 100%;
    padding: 55px 175px;
    text-align: center;
    & h2{
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.8px;
    }
    .default-btn a{
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 12px;
        padding: 10px 50px;
        border: 1px solid #fff;
        border-radius: 100px;
    }
}
.testimonials{
    background-color: #f3f3f3;
    &__content{
        padding: 80px 90px 100px;
        &-top{
            text-align: center;
            padding: 0 200px;
            &-title{
                color: #333b46;
                font-family: 'Source Sans Pro';
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            &-descr{
                margin-top: 40px;
                color: #81868e;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.7px;
            }
        }
        &-slider{
            background-color: #fff;
            margin-top: 40px;
            padding: 60px 100px;
            &-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                &-right{
                    padding-left: 50px;
                    & p{
                        color: #81868e;
                        font-family: "Open Sans";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0.8px;
                    }
                    & h2{
                        color: #19bd9a;
                        font-family: "Open Sans";
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 20px;
                        text-transform: uppercase;
                        letter-spacing: 0.64px;
                    }
                    & span {
                        color: #464646;
                        font-family: "Open Sans";
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        text-transform: uppercase;
                        letter-spacing: 0.56px;
                    }
                }
            }
        }
        & .slick-dotted.slick-slider ul.slick-dots{
            bottom: 35px;
            left: 0;
        }
    }        
}
.news{
    background: url(../img/news-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 690px;
    min-width: 100%;
    &__content{
        padding: 80px 100px;
        &-top{
            max-width: 450px;
            &-title{
                color: #ffffff;
                font-family: "Source Sans Pro";
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            &-descr{
                margin-top: 40px;
                color: #b2b3b3;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.7px;
            }
        }
        &-slider{
            &-item{
                padding: 50px 0 30px 70px;
                &-title{
                    color: #e1e4e9;
                    font-family: "Open Sans";
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.8px;
                }
                &-name{
                    margin-top: 10px;
                    color: #81868e;
                    font-family: "Source Sans Pro";
                    font-size: 14px;
                    font-weight: 300;
                    font-style: italic;
                    line-height: 25px;
                    text-transform: uppercase;
                    & a{
                        color: #19bd9a;

                    }
                }
                &-stat{
                    margin-top: 20px;
                    color: #464646;
                    font-family: "Source Sans Pro";
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 25px;
                    letter-spacing: 1.4px;
                }
                &-descr{
                    margin-top: 60px;
                    color: #81868e;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0.7px;
                }
                &-btn{
                    margin-top: 50px;
                    color: #b2b3b3;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 12px;
                    & a{
                        color: #19bd9a;
                    }
                }
            }
            &.slick-initialized .slick-slide{
                display: block;
            }
        }
    }
}

.price{
    background-color: #f3f3f3;
    &__content{
        padding: 80px 90px 100px;
        &-top{
            text-align: center;
            padding: 0 350px;
            &-title{
                color: #333b46;
                font-family: 'Source Sans Pro';
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            &-descr{
                margin-top: 40px;
                color: #81868e;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.7px;
            }
        }
        &-cards{
            padding: 60px 20px;
            display: flex;
            justify-content: space-around;
            &-item{
                margin: 0 5px;
            }    
        }
    }
}
.subscribe{
    background: url(../img/subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 350px;
    &__content{
        padding: 80px 90px 100px;
        &-top{
            text-align: center;
            padding: 0 350px;
            &-title{
                color: #fff;
                font-family: 'Source Sans Pro';
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            &-descr{
                margin-top: 40px;
                color: #fff;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.7px;
            }
        }
        &-bottom{
            display: flex;
            justify-content: center;
            margin-top: 60px;
            & input{
                width: 360px;
                color: #0f191b;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 400;
                line-height: 35px;
                letter-spacing: 0.14px;
                background-color: transparent;
                border: 1px solid #fff;
                padding-left: 20px;
                border-radius: 100px;
            }
            & .submit-btn{
                margin-left: 10px;
                color: #fff;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.14px;
                padding: 15px 50px;
                background-color: #19bd9a;
                border-radius: 100px;
            }
        }
    }
}
.contact-us{
    background-color: #f3f3f3;
    &__content{
        padding: 80px 90px 100px;
        &-top{
            text-align: center;
            padding: 0 350px;
            &-title{
                color: #333b46;
                font-family: 'Source Sans Pro';
                font-size: 20px;
                font-weight: 300;
                line-height: 12px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            &-descr{
                margin-top: 40px;
                color: #81868e;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0.7px;
            }
        }
        &-cards{
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            & .item1, .item2, .item3{
                position: relative;
            }   
            & .item1:after{
                content: "\e902";
                font-family: 'icomoon';
                position: absolute;
                top: 33%;
                left: 43%;
                color: #fff;
                font-size: 35px;
                font-weight: 400;
                line-height: 40x;
            }
            & .item2:after{
                content: "\e028";
                font-family: 'icomoon';
                position: absolute;
                top: 33%;
                left: 43%;
                color: #fff;
                font-size: 35px;
                font-weight: 400;
                line-height: 40x;
            }
            & .item3:after{
                content: "\e047";
                font-family: 'icomoon';
                position: absolute;
                top: 33%;
                left: 43%;
                color: #fff;
                font-size: 35px;
                font-weight: 400;
                line-height: 40x;
            }
            &-info{
                width: 287px;
                height: 150px;
                box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
                background-color: #fff;
                padding: 25px;
                margin-top: -5px;
                & h2{
                    color: #464646;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-transform: uppercase;
                    letter-spacing: 0.64px;
                }
                & span{
                    color: #81868e;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    text-transform: uppercase;
                    letter-spacing: 0.7px;
                }
            }
        }
    }
}
.form{
    background-color: #fff;
    &__content{
        padding: 80px 150px 50px;
        &-top{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            & input{
                width: 97%;
                color: #a9a9a9;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.14px;
                background-color: transparent;
                border: 1px solid #d8dce0;
                padding: 15px 170px 15px 20px;
            }
        }
        &-middle{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            & textarea{
                width: 99%;
                min-height: 190px;
                overflow: auto;
                resize: none;
                background-color: transparent;
                border: 1px solid #d8dce0;
            }
        }
        &-bottom{
            margin-top: 30px;
            text-align: center;
            & .submit-btn{
                width: 100%;
                color: #fff;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.14px;
                padding: 15px 50px;
                background-color: #19bd9a;
            }
        }
    }
}
.map__img{
    position: relative;
    & img {
        width: 100%;
    }
    &-title{
        position: absolute;
        top: 55%;
        left: 40%;
        display: flex;
        justify-content: center;
        vertical-align: center;
        & span{
            color: #fff;
            font-family: "Open Sans";
            font-size: 24px;
            font-weight: 400;
            line-height: 25px;
            text-transform: uppercase;
            letter-spacing: 0.8px;
        }
        & a{
            width: 36px;
            height: 36px;
            background-color: #19bd9a;
            border-radius: 18px;
            position: relative;
            &:before{
                content: "\e900";
                font-family: 'icomoon';
                position: absolute;
                top: 33%;
                left: 31%;
                width: 7px;
                height: 3px;
                color: #fff;
            }
        }
    }
}
